crewai[tools]>=1.14.5
pydantic>=2.0.0
pydantic-settings
langchain-ollama
pinecone-client
langchain-pinecone
langchain-google-genai
langchain-community
langchain-text-splitters
langchain
langgraph
google-generativeai
streamlit
yfinance
alpha_vantage
pandas
pyyaml
pytest
plotly
watchdog
