langchain-ollama
pinecone-client
langchain-pinecone
langchain-google-genai
langchain-community
langchain-text-splitters
crewai
langchain
langgraph
google-generativeai
streamlit
yfinance
alpha_vantage
pandas
python-dotenv
pyyaml
pytest
plotly
watchdog
